@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container about-div">
    <div class="heading">
        About
    </div>
    <hr />
    <div class="row">
        <div class="col-6 nursery-info">
            <h3><i>"About US: - "</i></h3>
            <p>
                <span>lorem4</span>lorem34
            </p>

        </div>
        <div class="col-6 img-div">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/buy-plants-online5-1521819842.jpg?crop=1xw:1xh;center,top&resize=768:*" alt="Image" />
        </div>
    </div>
</div>